.launch_name{
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
color: #D9351E;
text-align: center;
}

.launch_date{
    color: #FFFFFF;
}

.content{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 50px;
}

.launch_details{
 font-style: normal;
font-weight: lighter;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}

.launch_image{
    width: 50vw;
}

.iframe_container{
    position: relative;
    width: 500px;
    height: 515px;
    overflow: hidden;
}

.iframe_content{
    position: absolute;
    top: -145px;
    left: -1350px;
    width: 1700px;
    height: 2000px;
}

.launch_youtube{
    text-align: center;
}

.launch_usability{
    width: 350px;
    border: 2px solid #D9351E;
    padding: 3px 10px;
    margin: 10px;
    border-radius: 100px;
    text-align: center;
}